{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" action="" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
        </p> 
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
        </p>
        <p> 
        <label>
            {{ form.remember_me() }} 
            <span> {{form.remember_me.label}} </span>
        </label>
        </p>
        <p>{{ form.submit(class_="btn") }}</p>
    </form>
{% endblock %}