<nav class="cyan">
    <div class="nav-wrapper container">
      <a href="{{ url_for('index')}}" class="brand-logo">GroceryApp</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% else %}
	      <li>{{ current_user.username }}</li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
